* {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 60px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:40px;
}

nav ul li{
    position: relative;
}

nav ul li a{
    color:#aaa;
    text-decoration:none;
    cursor:pointer;
    font-size:16px;
}

/* العنصر النشط */
nav ul li.active a{
    color:#d946ef;
}

nav ul li.active::after{
    content:"";
    position:absolute;
    width:8px;
    height:3px;
    background:#fff;
    bottom:-10px;
    left:50%;
    transform:translateX(-50%);
    border-radius:2px;
}

.signup{
    background:#d946ef;
    padding:10px 25px;
    border-radius:6px;
    color:#fff;
    border:none;
    cursor:pointer;
}

/* ===== BODY ===== */
body{
    background: radial-gradient(circle at bottom left,#4b0b7a,#000 60%);
    color:#fff;
}

main{
  padding-top:80px; 
  padding-right:60px;
  padding-left:60px;
  padding-bottom: 20px;
}

.hero-about{
  width:100%;
  max-width:100%px;
  display:flex;
  align-items:end;
  justify-content:center;
  gap:40px;               
}


.hero-image{
  width:100%;
  display:flex;
  justify-content:flex-start;
}

.hero-image img{
  width:100%;
  max-width:100%;         
  filter: drop-shadow(0 18px 35px rgba(217,70,239,0.35));
}


.hero-text{
  width:100%;
  text-align:start;
  margin-bottom: 150px;
}


.hero-text .title{
  color: radial-gradient(circle at bottom left,#4b0b7a,#000 60%);
  font-size:42px;
  margin-bottom:12px;
  padding-top: 100px;
}

.hero-text .description{
   font-size:20px;
  margin-bottom:12px;

}


.star{
    position:absolute;
    width:8px;
    height:8px;
    background:#fff;
    transform:rotate(45deg);
}

.star.one{bottom:80px; left:80px;}
.star.two{bottom:120px; left:120px;}
.star.three{bottom:90px; left:150px;}

