* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    background: radial-gradient(circle at bottom left, #4b0b7a, #000000 60%);
    color: #fff;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* ===== NAVBAR ===== */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li {
    position: relative;
}

/* تنسيق الرابط */
nav ul li a {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

/* العنصر النشط */
nav ul li.active a {
    color: #d946ef;
}

nav ul li.active::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 3px;
    background: #fff;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}

.signup {
    background: #d946ef;
    padding: 10px 25px;
    border-radius: 6px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.experience {
    position: relative;
    min-height: 50vh;
    overflow: hidden;
    margin-right: -500px;

}

.experience video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.experience-overlay {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at bottom left, #4c0b7a, #0000008c 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -500px;
}

.experience-overlay h2 {
    font-size: 2.5rem;
    border-right: 4px solid #b622a9;
    padding-right: 15px;
}

.content {
    padding: 80px 8%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.card {
    background: linear-gradient(145deg, #11162a, #0c1020);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    transform-style: preserve-3d;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
    transform: translateY(-12px) rotateX(6deg) rotateY(-6deg);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
}

.card h3 {
    margin-bottom: 10px;
    color: #83367c;
}

.card p {
    opacity: 0.85;
    font-size: 0.95rem;
}

.ambition-footer {
    text-align: center;
    font-size: 20px;
    opacity: .9;
    margin-top: 100px;
}