* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body {
    background: radial-gradient(circle at bottom left, #4b0b7a, #000 60%);
    color: #fff;
    min-height: 100vh;
}

main {
    flex: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

nav ul li.active a {
    color: #d946ef;
}

nav ul li.active::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 3px;
    background: #fff;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}

.signup {
    background: #d946ef;
    padding: 10px 25px;
    border-radius: 6px;
    color: #fff;
    border: none;
    cursor: pointer;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: calc(100vh - 120px);
}

.text {
    width: 45%;
}

.text h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

.text hr {
    width: 120px;
    border: 1px solid #555;
    margin-bottom: 25px;
}

.text p {
    color: #8b8383;
    line-height: 1.9;
    font-size: 16px;
}

.highlight {
    color: #897b7b;
    font-weight: 600;
}

.star {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    transform: rotate(45deg);
}

.star.one {
    bottom: 80px;
    left: 80px;
}

.star.two {
    bottom: 120px;
    left: 120px;
}

.star.three {
    bottom: 90px;
    left: 150px;
}

.logo-area {
    width: 45%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cylinder {
    width: 380px;
    height: 480px;
    background: linear-gradient(180deg, #6d5aa7, #5a4b8a);
    border-radius: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 60px;
    position: relative;
}

.cylinder::before {
    content: "";
    position: absolute;
    top: 10px;
    width: 420px;
    height: 250px;
    background: #e23b64;
    border-radius: 50%;
    transform: rotate(15deg);
    z-index: 10;
}

.logo {
    position: absolute;
    bottom: 50px;
    top: 10px;
    left: 25%;
    transform: translateX(-50%);
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.logo img {
    width: 900px;
    height: 1300px;
    filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.5));
}

.orbit {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 500px;
    height: 260px;
    border: 2px solid rgba(217, 70, 239, 0.5);
    border-radius: 50%;
    transform: rotate(20deg);
    transform-origin: center;
    z-index: 10;
    bottom: 280px;
    pointer-events: none;
}

.brand {
    position: absolute;
    bottom: 110px;
    text-align: center;
    width: 100%;
}

.brand h3 {
    font-weight: 600;
    letter-spacing: 2px;
}

.brand span {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #ddd;
}


.footer {
    background: #11162a;
    color: white;
    padding: 50px 8%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-shrink: 0;
    margin-top: 150px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

.footer-icons a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.footer-icons img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: 0.3s;
}

.footer-icons a:hover {
    background: #d946ef;
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(217, 70, 239, 0.45);
}

.footer-icons a:hover img {
    transform: scale(1.1);
}